@charset "utf-8";

/* 헤더 */
header {
  height: 100px;
  background-color: gray;
}

/* 메인 */

main > section {
  margin: 50px 0;
  height: 100%;
}

.main__top {
  height: 100%;
  align-items: center;
}

.main__top__content {
  margin-left: 50px;
}

.poster > img {
  width: 100%;
  height: 100%;
}

.main__middle {
  height: 100%;
}

.main__middle > ul {
  border-bottom: 1px solid silver;
}

.middle__tab {
  color: black !important;
  background-color: white !important;
}

.middle__tab.active {
  font-weight: bold;
  background-color: rgba(192, 192, 192, 0.5) !important;
}

/* 푸터 */
footer {
  height: 200px;
  background-color: gray;
}
