@charset "utf-8";

/* 헤더 */
header {
  height: 100px;
  background-color: gray;
}

/* 메인 */

main > section {
  margin: 50px 0;
}

main > section:nth-child(1) {
  height: 450px;
}

main > section:nth-child(2) {
  height: 800px;
}

main > section:nth-child(3) {
  height: 250px;
}

.main__top {
  height: 100%;
  align-items: center;
}

.middle__tab {
  color: black !important;
}

/* 푸터 */
footer {
  height: 200px;
  background-color: gray;
}
