@charset "utf-8";

img:hover {
  cursor: pointer;
}

/* 메인 */

main > section {
  margin: 50px 0;
  height: 100%;
}

.main__top {
  height: 100%;
  align-items: center;
}

.poster > img {
  width: 100%;
  height: 100%;
}

.main__top__content {
  margin-left: 50px;
}

#release_date,
#genre,
#runtime,
#vote_average,
#budget,
#revenue {
  font-weight: bold;
}

.main__middle {
  height: 100%;
}

.main__middle h4 {
  border-bottom: 1px solid silver;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.main__middle > ul {
  border-bottom: 1px solid silver;
  padding-bottom: 10px;
}

.middle__tab {
  color: black !important;
  background-color: white !important;
}

.middle__tab.active {
  font-weight: bold;
  background-color: rgba(192, 192, 192, 0.5) !important;
}

.tab__content > div {
  margin-bottom: 80px;
}

/* 모달 */
.modal {
  display: none;
  position: fixed;
  overflow: auto;
  cursor: pointer;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.modal_wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.modal_content {
  margin: auto;
  display: block;
  width: 100%;
  height: auto;
  max-width: 1000px;
  border-radius: 10px;
}
